<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/index.html">Rick Waldron</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/rickwaldron7"><i class="fa-brands fa-linkedin fa-lg" color="white"></i></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com/rwaldron7"><i class="fa-brands fa-github fa-lg" color="white"></i></a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
